.App {
  display: grid;
  /* grid-template-columns: 1fr 2fr 4fr; */
}

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 500;
  src: local('opensans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
